<form action="<?php echo $this->getUrl('kiindeoffer/index/post'); ?>" id="kiindeofferForm" method="post" class="kiindeofferForm">
    <div class="fieldset">
        <ul class="form-list">
            <li class="fields">
                <div class="field">
                    <label for="name" class="required"><em>*</em><?php echo Mage::helper('kiindeoffer')->__('First Name') ?>
                    </label>

                    <div class="input-box">
                        <input name="first_name" id="first_name" title="<?php echo Mage::helper('kiindeoffer')->__('First Name') ?>"
                               value="<?php echo $this->htmlEscape($this->helper('kiindeoffer')->getUserFirstName()) ?>"
                               class="input-text required-entry" type="text"/>
                    </div>
                </div>
                <div class="field">
                    <label for="name" class="required"><em>*</em><?php echo Mage::helper('kiindeoffer')->__('Last Name') ?>
                    </label>

                    <div class="input-box">
                        <input name="last_name" id="last_name" title="<?php echo Mage::helper('kiindeoffer')->__('Last Name') ?>"
                               value="<?php echo $this->htmlEscape($this->helper('kiindeoffer')->getUserLastName()) ?>"
                               class="input-text required-entry" type="text"/>
                    </div>
                </div>
                <div class="field">
                    <label for="email" class="required"><em>*</em><?php echo Mage::helper('kiindeoffer')->__('Email') ?>
                    </label>

                    <div class="input-box">
                        <input name="email" id="email" title="<?php echo Mage::helper('kiindeoffer')->__('Email') ?>"
                               value="<?php echo $this->htmlEscape($this->helper('kiindeoffer')->getUserEmail()) ?>"
                               class="input-text required-entry validate-email" type="text"/>
                    </div>
                </div>
            </li>
            <li>
                <label for="ardo_pump_serial_number" class="required"><em>*</em><?php echo Mage::helper('kiindeoffer')->__('Ardo Pump Serial Number') ?></label>

                <div class="input-box">
                    <input name="ardo_pump_serial_number" id="ardo_pump_serial_number"
                           title="<?php echo Mage::helper('kiindeoffer')->__('Ardo Pump Serial Number') ?>" value="" class="required-entry input-text"
                           type="text"/>
                </div>
            </li>
            <?php //echo $this->getCaptchaCode(); 
                $public_key = Mage::getStoreConfig('catalog/review/prc_public_key');
                ?>
            <li>
                <div class="input-box">
                    <div style="transform:scale(0.96);transform-origin:0 0" class="g-recaptcha" data-sitekey="<?php echo $public_key?>"></div>
                    <script src='https://www.google.com/recaptcha/api.js?hl=en'></script>
                </div>
            </li>
        </ul>
    </div>
    <div class="buttons-set">
        <p class="required"><?php echo Mage::helper('kiindeoffer')->__('* Required Fields') ?></p>
        <input type="text" name="hideit" id="hideit" value="" style="display:none !important;"/>
        <button type="submit" title="<?php echo Mage::helper('kiindeoffer')->__('Submit') ?>" class="button">
            <span><span><?php echo Mage::helper('kiindeoffer')->__('Submit') ?></span></span></button>
    </div>
</form>
<script type="text/javascript">
    //<![CDATA[
    var kiindeofferForm = new VarienForm('kiindeofferForm', true);
    //]]>
</script>